@import '../../../styles/card-like';
@import '../../../palette';

.image-area {
  @include card-like;

  .sample-list {
    padding: 0;

    display: flex;
    list-style: none;

    .sample {
      margin-left: 1rem;

      .js-area, .css-area, .html-area {
        width: 64px;
        height: 64px;
        background: {
          color: aliceblue;
        }
        border: 1px dotted gray;
      }

      .css-area {
        background: {
          image: url('assets/owl.png');
          repeat: no-repeat;
        }
      }

    }
  }

  .copyright {
    font-size: 0.9rem;
    font-family: monospace;

    a {
      color: $sample_fg;
    }
  }
}
